USE [master]
GO
/****** Object:  Database [db_ShopGiay]    Script Date: 10/2/2021 12:24:26 AM ******/
CREATE DATABASE [db_ShopGiay]
GO
USE [db_ShopGiay]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/2/2021 12:24:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_detail]    Script Date: 10/2/2021 12:24:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_detail](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/2/2021 12:24:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[status] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/2/2021 12:24:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[product_height] [nvarchar](100) NOT NULL,
	[product_type] [nvarchar](100) NOT NULL,
	[product_description] [ntext] NOT NULL,
	[product_price] [decimal](18, 0) NOT NULL,
	[product_image] [varchar](50) NULL,
	[product_amount] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/2/2021 12:24:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](11) NULL,
	[password] [nvarchar](200) NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[role] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- trigger for categories

CREATE TRIGGER trg_insert_category ON [categories]
FOR INSERT
AS 
  UPDATE [categories]
	SET created_at = GETDATE(), updated_at = GETDATE()
	from [categories] inner join inserted i
	on [categories].category_id = i.category_id
go
create trigger trg_category_update on [categories]
for update 
as
	begin
	  update [categories]
		set updated_at = getDate()
		from [categories] inner join deleted d
		on [categories].category_id = d.category_id;
	end


-- trigger for users
go
CREATE TRIGGER trg_insert_user ON [users]
FOR INSERT
AS 
  UPDATE [users]
	SET created_at = GETDATE(), updated_at = GETDATE()
	from [users] inner join inserted i
	on [users].user_id = i.user_id
go
create trigger trg_user_update on [users]
for update 
as
	begin
	  update [users]
		set updated_at = getDate()
		from [users] inner join deleted d
		on [users].user_id = d.user_id;
	end

		-- trigger for products
go
CREATE TRIGGER trg_insert_products ON [products]
FOR INSERT
AS 
  UPDATE [products]
	SET created_at = GETDATE(), updated_at = GETDATE()
	from [products] inner join inserted i
	on [products].product_id = i.product_id
go
create trigger trg_product_update on [products]
for update 
as
	begin
	  update [products]
		set updated_at = getDate()
		from [products] inner join deleted d
		on [products].product_id = d.product_id;
	end

				-- trigger for orders
go
CREATE TRIGGER trg_insert_order ON [orders]
FOR INSERT
AS 
  UPDATE [orders]
	SET created_at = GETDATE(), updated_at = GETDATE()
	from [orders] inner join inserted i
	on [orders].order_id = i.order_id
go
create trigger trg_order_update on [orders]
for update 
as
	begin
	  update [orders]
		set updated_at = getDate()
		from [orders] inner join deleted d
		on [orders].order_id = d.order_id;
	end

					-- trigger for orders_detail
go
CREATE TRIGGER trg_insert_orderd ON [order_detail]
FOR INSERT
AS 
  UPDATE [order_detail]
	SET created_at = GETDATE(), updated_at = GETDATE()
	from [order_detail] inner join inserted i
	on [order_detail].order_id = i.order_id and [order_detail].product_id = i.product_id
go
create trigger trg_orderd_update on [order_detail]
for update 
as
	begin
	  update [order_detail]
		set updated_at = getDate()
		from [order_detail] inner join deleted d
		on [order_detail].order_id = d.order_id and [order_detail].product_id = d.product_id;
	end

GO

SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([category_id], [category_name], [created_at], [updated_at]) VALUES (1, N'Giày Cao Gót', NULL, CAST(N'2021-09-28T22:23:11.203' AS DateTime))
INSERT [dbo].[Categories] ([category_id], [category_name], [created_at], [updated_at]) VALUES (2, N'Giày Sandals', NULL, CAST(N'2021-09-28T22:22:59.927' AS DateTime))
INSERT [dbo].[Categories] ([category_id], [category_name], [created_at], [updated_at]) VALUES (3, N'Giày Sneaker', NULL, CAST(N'2021-09-28T22:22:53.987' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[Order_detail] ([order_id], [product_id], [price], [quantity], [created_at], [updated_at]) VALUES (1, 1, CAST(20000 AS Decimal(18, 0)), 2, CAST(N'2021-09-24T07:54:48.090' AS DateTime), CAST(N'2021-09-24T07:54:48.093' AS DateTime))
INSERT [dbo].[Order_detail] ([order_id], [product_id], [price], [quantity], [created_at], [updated_at]) VALUES (1, 2, CAST(20000 AS Decimal(18, 0)), 1, CAST(N'2021-09-24T07:54:48.097' AS DateTime), CAST(N'2021-09-24T07:54:48.097' AS DateTime))
INSERT [dbo].[Order_detail] ([order_id], [product_id], [price], [quantity], [created_at], [updated_at]) VALUES (1, 3, CAST(200000 AS Decimal(18, 0)), 1, CAST(N'2021-09-24T07:54:48.097' AS DateTime), CAST(N'2021-09-24T07:54:48.097' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [user_id], [status], [created_at], [updated_at]) VALUES (1, 2, 1, CAST(N'2021-09-24T07:54:48.030' AS DateTime), CAST(N'2021-09-24T07:54:48.040' AS DateTime))
INSERT [dbo].[Orders] ([order_id], [user_id], [status], [created_at], [updated_at]) VALUES (2, 2, 1, CAST(N'2021-09-24T10:47:07.987' AS DateTime), CAST(N'2021-09-24T10:47:07.990' AS DateTime))
INSERT [dbo].[Orders] ([order_id], [user_id], [status], [created_at], [updated_at]) VALUES (3, 2, 3, CAST(N'2021-09-24T10:50:35.423' AS DateTime), CAST(N'2021-09-24T11:51:03.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([product_id], [category_id], [product_name], [product_height], [product_type], [product_description], [product_price], [product_image], [product_amount], [created_at], [updated_at]) VALUES (1, 1, N'Giày Sandal Ankle Strap Da Nubuck Quai Vân Da Rắn', N' Gót đặc biệt -  8 cm', N' Hở mũi (mũi vuông) - Da nhân tạo & Microfiber', N' Đi làm, đi tiệc, đi chơi', CAST(595000 AS Decimal(18, 0)), N'1-Giay-Sandal-Quai-Van-Da-Ran.jpg', 45, NULL, NULL)
INSERT [dbo].[Products] ([product_id], [category_id], [product_name], [product_height], [product_type], [product_description], [product_price], [product_image], [product_amount], [created_at], [updated_at]) VALUES (2, 1, N'Giày Bít Mũi Nhọn Ankle Strap Đính Dây Kim Loại Bạc', N' Gót nhọn -  8 cm', N'Bít mũi nhọn -  Da nhân tạo', N' Đi làm, đi tiệc, đi chơi', CAST(645000 AS Decimal(18, 0)), N'2-giay-ankle-strap-dinh-day-kim-loai-bac.jpg', 100, NULL, NULL)
INSERT [dbo].[Products] ([product_id], [category_id], [product_name], [product_height], [product_type], [product_description], [product_price], [product_image], [product_amount], [created_at], [updated_at]) VALUES (3, 1, N'Giày Bít Mũi Nhọn Da Nubuck', N' Gót loe -  6.5 cm', N' Bít mũi nhọn -  Da nhân tạo', N' Đi làm, đi tiệc, đi chơi', CAST(545000 AS Decimal(18, 0)), N'3-giay-bit-mui-nubuck-mau-do.jpg', 120, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([user_id], [email], [phone_number], [password], [full_name], [address], [role], [created_at], [updated_at], [is_active]) VALUES (1, N'nhom6admin@gmail.com', N'0866136920', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'ADMIN', N'Hà Nội', 1, CAST(N'2021-08-07T14:53:27.280' AS DateTime), CAST(N'2021-08-07T14:53:53.007' AS DateTime), 1)
go
SET IDENTITY_INSERT [dbo].[Users] OFF