USE [master]
GO
/****** Object:  Database [fShopDB]    Script Date: 09/10/2020 11:04:01 am ******/
CREATE DATABASE [fShopDB]
GO
USE [fShopDB]
GO
/****** Object:  Table [dbo].[Hang]    Script Date: 09/10/2020 11:04:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hang](
	[MaHang] [char](10) NOT NULL,
	[MaNCC] [char](10) NOT NULL,
	[TenHang] [nvarchar](255) NOT NULL,
	[Gia] [decimal](8, 2) NULL,
	[LuongCo] [decimal](8, 2) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[ChietKhau] [decimal](8, 2) NULL,
	[HinhAnh] [nvarchar](100) NULL,
 CONSTRAINT [PKh_Hang] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nguoidung]    Script Date: 09/10/2020 11:04:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoidung](
	[manguoidung] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](30) NOT NULL,
	[matkhau] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manguoidung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nha_CC]    Script Date: 09/10/2020 11:04:01 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nha_CC](
	[MaNCC] [char](10) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [char](15) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Nha_CC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Hang] ([MaHang], [MaNCC], [TenHang], [Gia], [LuongCo], [MoTa], [ChietKhau], [HinhAnh]) VALUES (N'BNBG01    ', N'DLL01     ', N'Dâu Tây Đà Lạt', CAST(100000.00 AS Decimal(8, 2)), CAST(54.49 AS Decimal(8, 2)), N'Dâu tây Đà Lạt nổi tiếng thơm mát,tươi sạch là đặc sản của vùng cao nguyên này.', CAST(20.00 AS Decimal(8, 2)), N'dau_tay_nhat.jpg')
INSERT [dbo].[Hang] ([MaHang], [MaNCC], [TenHang], [Gia], [LuongCo], [MoTa], [ChietKhau], [HinhAnh]) VALUES (N'BNBG02    ', N'DLL01     ', N'Mãng Cầu Xiêm', CAST(200000.00 AS Decimal(8, 2)), CAST(14.49 AS Decimal(8, 2)), N'Mãng cầu xiêm không chỉ thơm ngon về khẩu vị mà còn chứa nhiều dưỡng chất có lợi cho cơ thể.', NULL, N'mang_cau_xiem.jpg')
INSERT [dbo].[Hang] ([MaHang], [MaNCC], [TenHang], [Gia], [LuongCo], [MoTa], [ChietKhau], [HinhAnh]) VALUES (N'BNBG03    ', N'DLL01     ', N'Xoài Cát Hòa Lộc', CAST(110000.00 AS Decimal(8, 2)), CAST(31.49 AS Decimal(8, 2)), N'Hương vị ngọt ngào, hậu vị sâu lắng, hương thơm nồng nàn tuyệt hảo là những mỹ từ không hề quá về những trái xoài cát Hòa Lộc thuần chủng', NULL, N'img_4905.jpg')
SET IDENTITY_INSERT [dbo].[nguoidung] ON 

INSERT [dbo].[nguoidung] ([manguoidung], [hoten], [matkhau], [email]) VALUES (1, N'Nguyễn Văn Nam', N'123123', N'nam@gmail.com')
INSERT [dbo].[nguoidung] ([manguoidung], [hoten], [matkhau], [email]) VALUES (2, N'Bùi Thị Lan', N'123456', N'lan@yahoo.com')
SET IDENTITY_INSERT [dbo].[nguoidung] OFF
INSERT [dbo].[Nha_CC] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email]) VALUES (N'BRE02     ', N'Nguyễn Văn Bé', N'Vĩnh Tuy', N'098733433      ', N'benv@yahoo.com')
INSERT [dbo].[Nha_CC] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email]) VALUES (N'BRE08     ', N'Vũ Văn Bình', N'Hà Đông', N'09856789       ', N'binhvan@yahoo.com')
INSERT [dbo].[Nha_CC] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email]) VALUES (N'BRS01     ', N'Công ty Hoàng Phát', N'Số 10 Đường Thành', N'048191911      ', N'hoangphat@gmail.com')


ALTER TABLE [dbo].[Hang]  WITH CHECK ADD  CONSTRAINT [FKh_Hang_Nha_CC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[Nha_CC] ([MaNCC])
GO
ALTER TABLE [dbo].[Hang] CHECK CONSTRAINT [FKh_Hang_Nha_CC]
GO
USE [master]
GO
